{% extends "base.html" %}

{% block title %}{{ _("Registration Completed") }}{% endblock %}

{% block body %}
    <p>{{ _('You have successfully registered for an account. We have sent a confirmation email to the address you provided.') }}</p>
    <p>{{ _('Please check your inbox (and your spam folder) to activate your account.') }}</p>
    <p>{{ _('If you encounter any issues during the activation process, feel free to reach out to us at our official Fanpage: ') }}<a href="https://fb.com/tloi.dl" target="_blank" rel="noopener noreferrer">TLOI Fanpage</a>.</p>
{% endblock %}

