<script>window.GraphCoreConfig = {
  nodeRadius: {{ GRAPH_CONFIG.nodeRadius }},
  edgeLabelSeparation: {{ GRAPH_CONFIG.edgeLabelSeparation }},
  nodeThickness: {{ GRAPH_CONFIG.nodeThickness }},
  edgeThickness: {{ GRAPH_CONFIG.edgeThickness }},
  chargeStrength: {{ GRAPH_CONFIG.chargeStrength }},
  edgeStrength: {{ GRAPH_CONFIG.edgeStrength }},
  gravityStrength: {{ GRAPH_CONFIG.gravityStrength }},
  idealEdgeDistance: {{ GRAPH_CONFIG.idealEdgeDistance }},
  repulsionDistance: {{ GRAPH_CONFIG.repulsionDistance }},
};</script>
