<script>window.GraphCoreConfig = {
  nodeRadius: {{ GRAPH_CONFIG.nodeRadius }},
  edgeLabelSeparation: {{ GRAPH_CONFIG.edgeLabelSeparation }},
  nodeFriction: {{ GRAPH_CONFIG.nodeFriction }},
  canvasFieldDist: {{ GRAPH_CONFIG.canvasFieldDist }},
  centeringStrength: {{ GRAPH_CONFIG.centeringStrength }},
  nodeDist: {{ GRAPH_CONFIG.nodeDist }},
  tension: {{ GRAPH_CONFIG.tension }},
  nodeRepulsion: {{ GRAPH_CONFIG.nodeRepulsion }},
  nodeThickness: {{ GRAPH_CONFIG.nodeThickness }},
  edgeThickness: {{ GRAPH_CONFIG.edgeThickness }},
};</script>
